<a href="https://colab.research.google.com/github/Rahul-phyton-code/pandas-dataframe/blob/main/basics_of_pandas_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.)

In [1]:
import pandas as pd
import numpy as np

data = np.array(["r","a","h","u","l"])

series_convert = pd.Series(data)
print(series_convert)

0    r
1    a
2    h
3    u
4    l
dtype: object

2.)

In [3]:
import pandas as pd

x = pd.Series([10, 20, 30, 40, 50,60,70,80,90,100], index =['a', 'b', 'c', 'd', 'e','f','g','h','i','h'])

print(x)

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
h    100
dtype: int64

3.)

In [14]:
# Import pandas library
import pandas as pd

# initialize list of lists
data = [['Alice', 25 , 'Female'], ['Bob', 30 , 'Male'], ['Claire', 27 , ]]

# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age','Gender'])

# print dataframe.
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

4.)

In [ ]:
               Pandas Series	 Single ColumnDataFrame
Data Structure	 1D Table	           2D Table
Alignment	      Not supported	       Supported
Columns	         None0	             1
Functionality	   Less	               More
Index	          Required	           Optional
Performance   	Quick                Slow
Name	         Optional	             Optional

5.) There are various ways to manipulate dat in pandas:-
1.) Dropping columns in the data
2.) Dropping rows in the data
3.) Renaming a column in the dataset
4.) Select columns with specific data types
5.) Select specific values in the column

6.) Data Frame and panels are immutable while series are mutable.

7.)

In [15]:
# Importing Pandas library
import pandas as pd

# Creating two lists
author = ['Jitender', 'Purnima',
		'Arpit', 'Jyoti']
article = [210, 211, 114, 178]

# Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)

# Creating a dictionary by passing Series objects as values
frame = {'Author': auth_series,
		'Article': article_series}

# Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)

# Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178